
  :root.theme-dark {
    --bg-color: #000532;
    --bg-image: url("../images/cover-image-dark.png");
    --menu-color: rgba(255, 0, 112, 1);
    --full-answer-color: rgba(241, 178, 206, 1);
    --h1-text-color: rgba(219, 0, 255, 1);
    --accent-color: rgba(255, 0, 112, 1);
    --h2-text-color: rgba(0, 0, 40, 1);
    --h3-text-color: rgba(255, 0, 112, 1);
    --hover-color: rgba(255, 0, 112, 0.4);
  }
