
@media (prefers-color-scheme: dark) {
  :root { 
    --bg-color: #000532;
    --bg-image: url("../images/cover-image-dark.png");
    } 
  }

  :root.theme-dark {
    --bg-color: #000532;
    --bg-image: url("../images/cover-image-dark.png");
  }
