
  :root.theme-light {
    --bg-color: #ffeef6;
    --bg-image: url("../images/cover-image-light.png");
    --menu-color: rgba(53, 52, 48, 1);
    --full-answer-color: rgba(53, 52, 48, 1);
    --h1-text-color: rgba(255, 194, 230, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --hover-color: rgba(50, 49, 45, 0.4);
    --h2-text-color: rgba(53, 52, 48, 1);
}

@media (prefers-color-scheme: light) {
  :root { 
    --bg-color: #ffeef6;
    --bg-image: url("../images/cover-image-light.png");
    --menu-color: rgba(53, 52, 48, 1);
    --full-answer-color: rgba(53, 52, 48, 1);
    --h1-text-color: rgba(255, 194, 230, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --hover-color: rgba(50, 49, 45, 0.4);
    --h2-text-color: rgba(53, 52, 48, 1);
    --h3-text-color: rgba(53, 52, 48, 1);
  }

    .header__rec {
    display: none;
    }
  }


  .theme-light .header__rec {
    display: none;
  }