
@media (prefers-color-scheme: light) {
  :root { 
    --bg-color: #ffeef6;
    --bg-image: url("../images/cover-image-light.png");
   }
  }

  :root.theme-light {
    --bg-color: #ffeef6;
    --bg-image: url("../images/cover-image-light.png");
}
