/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  min-inline-size: 320px;
  max-inline-size: 1440px;
  font-family: var(--fonts, "IBM Plex Mono", "sans-serif");
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
  }

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--menu-color);
  z-index: 1;
  
}

/* ВЕРХНИЙ ПРАВЫЙ УГОЛ */
.decorated-zone::before {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
  
}

/* НИЖНИЙ ЛЕВЫЙ УГОЛ */
.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  inline-size: 100%;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding-block: 10px;
}  

.header__rec {
  color: var(--menu-color);
  font-size: 18px;
  display: flex;
  justify-self: end;
  gap: 10px;
  font-weight: 400;
  position: absolute;
}

.header__rec::before {
  content: "";
  position: absolute;
  inset: 0;
  inline-size: 25px;
  block-size: 25px;
  background-color: var(--menu-color);  
  border: 1px solid var(--menu-color);
  border-radius: 50%;
  box-shadow: 0 0 10px 5px var(--menu-color)
}

.header__theme-menu {
  justify-self: end;              
  align-self: center;  
  padding-inline-end: 13px;          
}

.header__theme-menu-list {
  list-style-type: none;
  display: grid; 
  font-size: 18px;
  color: var(--menu-color);
  line-height: 18px;
  gap: 18.6px;
  
}

.header__theme-menu-button {
  all: unset;
  cursor: pointer;
  }

  .h1, .footer__text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: 700;
    color: var(--h1-text-color);
    text-shadow: 4px 4px var(--accent-color);
    line-height: 83%;
    align-self: center;
    justify-self: center;

  }

  .h2 {
    background-color: var(--accent-color);
    color: var(--h2-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 23.5px;
    align-self: center;
    justify-self: start;
    font-family: var(--fonts, "IBM Plex Mono", "sans-serif");
  }

  .questions {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    padding-inline-start: 0;
  }

  .question__name {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 18px;
  }

  .answer_name {
    background-color: var(--accent-color);
  }

  .full__answer {
    color: var(--full-answer-color);
    font-size: 18px;
    background-color: none; 
    font-weight: 400;
  }

  .gallery__section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    list-style-type: none;
    inline-size: 100%;
  }

  .gallery__section img {
    inline-size: 100%;     
    object-fit: cover;                            
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}
