/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  min-inline-size: 320px;
  max-inline-size: 1440px;
  font-family: var(--fonts, "IBM Plex Mono", "sans-serif");
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
  display: grid;
  gap: 40px;
  }

  .main {
    display: grid;
    gap: 50px;
  }

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--menu-color);
  z-index: 1;
}

/* ВЕРХНИЙ ПРАВЫЙ УГОЛ */
.decorated-zone::before {
  top: var(--padding);
  right: 0;
  border-left: none;
  border-bottom: none;
}

/* НИЖНИЙ ЛЕВЫЙ УГОЛ */
.decorated-zone::after {
  bottom: var(--padding);
  left: 0;
  border-right: none;
  border-top: none;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  inline-size: 100%;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding-block: var(--padding);
  position: relative;
}  

.header__rec {
  position: absolute;
  top: var(--padding); 
  right: var(--padding); 
  display: flex;
  align-items: center;
  gap: 10px; 
  color: var(--menu-color);
  line-height: 25px;
  font-size: var(--font-size-standart);
  font-weight: 400;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--menu-color);  
  border: 1px solid var(--menu-color);
  border-radius: 50%;
  box-shadow: 0 0 10px 5px var(--menu-color)
}

.header__theme-menu {
  justify-self: flex-end;              
  align-self: center;     
}

.header__theme-menu-list {
  list-style-type: none;
  display: grid; 
  font-size: 18px;
  color: var(--menu-color);
  line-height: 18px;
  gap: 7px;
  justify-items: center;
}

.header__theme-menu-button {
  all: unset;
  cursor: pointer;
  padding: 4px 14px;
  border: 1px solid transparent;
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--hover-color);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    box-shadow: 0 1px 0 0 var(--accent-color);
    }

  .header__theme-menu-button_active {
    border: 1px solid var(--menu-color);  
    pointer-events: none;
  }

  .main__text, .footer__text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: 700;
    color: var(--h1-text-color);
    text-shadow: 4px 4px var(--accent-color);
    line-height: 83%;
    align-self: center;
    justify-self: center;
  }

  .banner__text {
    background-color: var(--accent-color);
    color: var(--h2-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 23.5px;
    align-self: center;
    justify-self: start;
    font-family: var(--fonts, "IBM Plex Mono", "sans-serif");
  }

  .questions__section {
    display: grid;
    gap: 50px;
  }

  .questions {
    display: grid;
    gap:20px;
  }

  .article-list {
    display: grid;
    gap: 20px;
    list-style-type: none;
  }

  .article {
    display: grid;
    gap: 120px;
  }

  .article__block {
    display: grid;
    gap: 10px;
  }
  .question__name {
    color: var(--h3-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
  }

  .answer_name {
    background-color: var(--accent-color);
    line-height: 23.4px;
    font-size: var(--font-size-standart, 18px);
    font-weight: 700;
    letter-spacing: 1.25px;
  }

  .answer_name__alternate {
    font-weight: 400;
  }

  .text__more {
    background-color: var(--accent-color);
    line-height: 23.4px;
    font-weight: 700;
    font-size: var(--font-size-standart, 18px);
    font-family: var(--fonts);
    letter-spacing: 0.05px;
  }

  .full__answer {
    color: var(--full-answer-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 23.36px;
    font-family: var(--fonts, "IBM Plex Mono", "sans-serif");
  }

  .text__link {
    text-shadow: 2px 2px var(--accent-color);
    text-decoration: none;
  }

  .text__link:hover {
    text-decoration: underline;
  }

  .text__link:focus {
    outline: none;
  }

  .text__link:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px var(--full-answer-color);
  }

  .gallery__section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 9px;
    list-style-type: none;
    inline-size: 100%;
  }

  .img {
    inline-size: 100%;
  }

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

  .footer__text {
    text-shadow: 2px 2px var(--accent-color);
  }


@media (min-width: 768px) and (max-width: 1023px) {

  .page {
    padding-inline-start: var(--padding-medium);
    padding-inline-end: var(--padding-medium);
    gap: 60px;
  }

  .header {
    padding-block-start: var(--padding-medium);
    padding-block-end: var(--padding-medium);
  }  

  .main__text {
    font-size: (7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: left;
    margin-inline-start: -20px; 
  }
  
  .header__rec {
    top: var(--padding-medium); 
}

.decorated-zone::before {
  top: var(--padding-medium);
}

.decorated-zone::after {
  bottom: var(--padding-medium);
}

  .banner__text {
    inline-size: 364px;
    justify-self: right;
  }

  .questions__section {
    gap: 80px;
    grid-template-rows: 1fr;
  }

  .questions {
    grid-template-columns: repeat(3, 1fr);
  }

  .question__name {
    grid-column: 1 / span 1;
  }

  .article-list {
    grid-column: 2 / span 3;
  }

  .section__alternate {
    grid-template-columns: repeat(3, 1fr);
  }

  .article-list__alternate {
    grid-column: 1 / span 3;
  }

  .gallery__section {
    gap: 20px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
  }

  .img {
    block-size: 100%;
    object-fit: cover;

  }

  .img_sunset {
    grid-column: 1 / span 2;
  }

  .img_tape {
    grid-row: 2 / span 2;
  }

  .img_cream {
    grid-row: 1 / span 2;
    grid-column: 3 / 3;
  }

  .img_street {
    grid-column: 2 / span 2; 
    grid-row: 3 / 4;   
}
}

@media (min-width: 1024px) {
  .page {
    padding-inline-start: var(--padding-medium);
    padding-inline-end: var(--padding-medium);
    gap: 60px;
  }

  .header {
    padding-block-start: var(--padding-medium);
    padding-block-end: var(--padding-medium);
  }  

  .main__text {
    font-size: (7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: left;
    margin-inline-start: -20px; 
  }

  .header__rec {
    top: var(--padding-medium); 
}

.decorated-zone::before {
  top: var(--padding-medium);
}

.decorated-zone::after {
  bottom: var(--padding-medium);
}

 .header__theme-menu {
    justify-self: center;              
    align-self: self-start;     
}

.header__theme-menu-list {
  grid-template-columns: repeat(3, 1fr);
}

  .banner__text {
    inline-size: 491px;
    justify-self: right;
  }

    .questions__section {
    gap: 80px;
    grid-template-rows: 1fr;
  }

  .questions {
    grid-template-columns: repeat(3, 1fr);
  }

  .question__name {
    grid-column: 1 / span 1;
  }

  .article-list {
    grid-column: 2 / span 3;
  }

  .section__alternate {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, max-content);
  }

  .article-list__alternate {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .gallery__section {
    gap: 20px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
  }

  .img {
    block-size: 100%;
    object-fit: cover;

  }

  .img_sunset {
    grid-column: 1 / span 2;
  }

  .img_tape {
    grid-row: 2 / span 2;
  }

  .img_cream {
    grid-row: 1 / span 2;
    grid-column: 3 / 3;
  }

  .img_street {
    grid-column: 2 / span 2; 
    grid-row: 3 / 4;   
  }